html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  color: whitesmoke;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2c2c2c url(https://i.imgur.com/6CJpNrt.png) no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
